.burger_constructor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 610px);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-gutter: stable;
    list-style-type: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-self: end;
    gap: 40px;
  }
}

.locked {
  display: flex;
  align-self: flex-end;
  cursor: default;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;

  span {
    justify-content: center;

    img {
      display: none;
    }

    span:not(:first-of-type) {
      display: none;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.price_icon {
  width: 36px;
  height: 36px;
}
